.titel-pagina {
    color: #8BD8BD;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin-top: 10px;
}
.menubar {
    background-color: #243665;
    position: absolute;
    width : 100%;
    height: 120px;
    display: block;
    margin-top: 0%;
}
body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}
.zijbalk {
    height: 100vh;
    top:30px;
    background-color: #243665;
    position: absolute;
    width: 100%;
}
#tabelschool {
    table-layout: fixed;
    padding-top: 0px;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
}
.dataTables_length {
    width: 60px;
    display: inline-block;
    margin-left: -270px;
    margin-top: 120px;
}
.dataTables_length label{
    margin-left: 280px;
}
.pagination{
    padding-right: 5px;
}
.dataTables_info{
    margin-left: 0px;
}

.tabelschool_wrapper{
    width: 130px;
}
.tabelschool_filter{
    margin-left:30px;
    float: right;
    text-align: right;
}
.table_title, .table_td {
    padding: 8px;
}
.table_td{
    border:1px solid #DFDFDF;
}

td, th {  
    height: 30px; 
}

th {  
    background: #DFDFDF; 
    font-weight: bold;
}

td {  
    background: #FAFAFA;
    text-align: center;
}
        
tr:nth-child(even) td { background: #F1F1F1; }   
     

tr:hover td { background: #8BD8BD; color: #FFF; }  
/* Hover cell effect! */

.form-control, .input-sm {
    margin-right: 0px;
}
.dataTables_wrapper .dataTables_filter{
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
.dataTables_wrapper{
    margin-top:20px;
}
.image_rose {
    margin-left: 35px;
}
.voornaam {
    color: white;
    margin-left: 35px;
    margin-top: 5px;
}
.achternaam {
    color: white;
    margin-left: 35px;
}
.scholen_form {
    width: 800px;
    margin-top: 180px;
    margin-left: 29.5%;
}
.buttonzijbalk {
  background-color: #e7e7e7; 
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 0.5px;
  cursor: pointer;
  transition: background-color 0.7s;
  width: 150px;
}
.button:hover {
    background-color: #8BD8BD;
    color: white;
}

.nieuw {
    margin-left: 35px;
}

.toestellenUpdate_form{
    padding-top: 15%;
}
.verwijs{
    margin-top: 10%;
}
.rij{
    margin-top: 4%;
}
.button {
  background-color: #e7e7e7; 
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 0.5px;
  cursor: pointer;
  transition: background-color 0.7s;
}
.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.kaarten{
    margin-top: 10%;
}